<!DOCTYPE html>

<head>
    <title>MentorMe</title>
    <link href="../static/css/bootstrap-grid.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/best-mentor.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/mentor-match.js"></script>
</head>

<body>
    <div class="container h-100 w-100 d-flex justify-content-center align-items-center" id=overall-container>
        <div class="row">
            <div class="col col-lg-12">
                <h1>A mentor has been matched up with you!</h1>
                <h3>Here is some information about them:</h3>
                <hr>
                <p id="mentor-info"></p>
            </div>
        </div>
    </div>
</body>

</html>